DATABASE_URL=postgres://appraisal:appraisal@localhost:5435/inspect_db?sslmode=disable
SERVER_PORT=8082

JWKS_URL=http://localhost:8180/realms/appraisal/protocol/openid-connect/certs
ALLOWED_ORIGINS=*

KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP=inspect-service
KAFKA_REQUEST_TOPIC=request.events
OUTBOX_POLL_INTERVAL=1s

REDIS_ADDR=localhost:6382
REDIS_PASSWORD=appraisal
DEDUP_TTL=48h

S3_ENDPOINT=https://storage.yandexcloud.net
S3_BUCKET=appraisal-inspections
